---
---
<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta rel="author" href="">
  <meta rel="publisher" href="">

  <title>{{ site.data.portfolio.title  }}</title>

  <link rel="stylesheet" href="/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
	{% include header.html %}	
  {% include about.html %}
  {% include work.html %}
  {% include clients.html %}
  {% include contact.html %}
  {% include form.html %}  
  {% include footer.html %}
  
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/functions.js"></script>
</body>
</html>