<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="70" height="70" >
  <defs>
    <style>
      .cls-1, .cls-2 {
        font-size: 15px;
      }

      .cls-1 {
        opacity: 0.3;
      }

      .cls-2 {
        fill: #e1c185;
        text-anchor: middle;
        font-family: "AndaleMono";
        text-transform: uppercase;
      }
    </style>
  </defs>
  <text transform="translate(28 121) scale(9.82)" class="cls-1"><tspan x="0" class="cls-2">“</tspan></text>
</svg>
